<!DOCTYPE html>
<html>
    <head>
        <title>AI Assistant</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>AI Helpdesk Bot</h1>

        <div id="chat"></div>

        <input id="input" type="text" placeholder="Ask something..." />
        <button onclick="sendMessage()">Send</button>
        <button onclick="speak('test audio')">Test Voice</button>
        <input type="file" id="myfile" name="myfile">
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
    <footer id="footer">
        <a href="mailto:KanishkMishra3528@gmail.com">Kanishk's Email</a>
        <a href="https://github.com/KanishkMishra">Other Github Projects</a>
        <a href="https://www.linkedin.com/in/kanishk-mishra-/">Kanishk's LinkedIn</a>
    </footer>
</html>